*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.container{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 60vh;
    width: 30rem;
    border-radius: 10px;
}

.calculator{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

.upper__part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

input{
    padding: 1.2rem .5rem;
    width: 90%;
    margin: 1rem 0rem; 
    background: rgba( 74, 74, 74, 0.40 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.0px );
-webkit-backdrop-filter: blur( 8.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: none;
    border: none;
    border-radius: 0;
}

.cut__num{
    background-color: crimson;
    padding: .5rem 0;
    text-align: center;
    width: 50%;
    font-size: 2.6rem;
    margin-left: 1rem;
    color: #fff;
}

.lower__part{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.num{
    background-color: crimson;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    font-size: 2rem;
    color: #fff;
    margin: .8rem;
    padding: 1rem;

}